</main>
<table style="
            font-family: 'Montserrat', sans-serif;
            background-color: #cd5c5c;
            text-align: center;
          " role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" role="presentation" style="width: 110px; margin: 16px auto 10px">
          <tbody>
            <tr>
              <td>
                <a class="social-items" style="text-decoration: none;" href="#" target="_blank">
                  <img src="http://localhost:8080/uploads/socialIcons/social-fb.png" alt="">
                </a>
              </td>
              <td>
                <a class="social-items" style="text-decoration: none;"  href="#" target="_blank">
                  <img src="http://localhost:8080/uploads/socialIcons/social-ig.png" alt="">
                </a>
              </td>
              <td>
                <a class="social-items" style="text-decoration: none;" href="#" target="_blank">
                  <img src="http://localhost:8080/uploads/socialIcons/social-tw.png" alt="">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding-bottom: 10px">
                <p style="
                    font-size: 14px;
                    line-height: 25px;
                    color: #fff;
                    font-weight: 300;
                  "> © 2024 Sri siva sathya narayana temple. All rights reserved. <br> 1325 Matheson Bivd, Mississauga, ON L4W 1R1,Canada </p>
                  <table cellpadding="0" cellspacing="0" role="presentation" style="
                    width: 67%;
                    text-align: center;
                    margin: 15px auto;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 300;
                  ">
          <tbody>
            <tr>
              <td>
                <a href="#" style="color: #fff;text-decoration: none;" target="_blank">(905)282-0108</a>
              </td>
            </tr>
             <tr>
              <td>
                <a href="#" style="color: #fff;text-decoration: none;" target="_blank">test@gmail.com</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" role="presentation" style="
                    width: 67%;
                    text-align: center;
                    margin: 15px auto;
                    font-size: 14px;
                    color: #66667e;
                    font-weight: 300;
                  ">
          <tbody>
            <tr>
              <td>
                <a href="#" style="color: #fff" target="_blank">Terms of Service</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>