{{> header}}
    <div style="text-align:left;margin-left:25px;" class="body-content">
        <p>Hello {{ name }},</p>
        <p>Your requested to reset the password. Please click on below link to reset:</p>
        <a target="_blank" href="{{url}}">Reset password</a>
    </div>
{{> footer}}


            
            
           