{{> header}}
    <div style="text-align:left;margin-left:25px;" class="body-content">
        <p>Hello {{ name }},</p>
        <p>Thank you for signing up! Click the button below to activate your account:</p>
        <a target="_blank" href="{{url}}">Activate Account</a>
        <p>If you did not sign up for an account, you can safely ignore this email.</p>
    </div>
{{> footer}}


            
            
           