{{> header}}
    <p>Hello {{ name }},</p>
    <p>Welcome to the Sai Sathya Narayana Temple!</p>
    <p>Click on below link to activate your email address</p>
    <a href="https://{{url}}">Verify Email</a>
{{> footer}}

