{{> header}}
    <div style="text-align:left;margin-left:25px;" class="body-content">
        <p>Hello {{ name }},</p>
        <p>Your volunteer request has been approved.</p>
    </div>
{{> footer}}


            
            
           